In [81]:
import pandas as pd
import re
from IPython.display import display
pd.options.display.max_columns = None

In [13]:
df = pd.read_csv('<input_file>')

/Users/bhupesh.patel/anaconda/envs/python-35/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9,16,21,23,28,31,32,34,35,36,38,39,41,43,45,46,48,50,52,55,56,77,87,98,179,180,181,185) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [87]:
df.describe()

,id,Prefix 3,Prefix 4,Suffix 4,Prefix 5,Suffix 5,Prefix 6,Middle Name 6,Suffix 6,Prefix 7,Middle Name 7,Suffix 7,Street Address 2 Line 2,Postal Code 2,Do Not Mail 2,Phone Number 3,Extension 3,Type 3,Do Not Call 3,Web Address Type,Twitter Username Type,Itemized Donations in 2010,Itemized Donations in 2009,Itemized Donations in 2008,Itemized Donations in 2007,Itemized Donations in 2006,Total Donations in 2018,Total Donations in 2017,Total Donations in 2016,Total Donations in 2015,Total Donations in 2014,Total Donations in 2013,Total Donations in 2012,Total Donations in 2011,Total Donations in 2010,Total Donations in 2009,Total Donations in 2008,Total Donations in 2007,Total Donations in 2006,Total Donations in 2005,Total Donations in 2004,Total Donations in 2003,Total Donations in 2002,Deductible Donations in 2018,Deductible Donations in 2017,Deductible Donations in 2016,Deductible Donations in 2015,Deductible Donations in 2014,Deductible Donations in 2013,Deductible Donations in 2012,Deductible Donations in 2011,Deductible Donations in 2010,Deductible Donations in 2009,Deductible Donations in 2008,Deductible Donations in 2007,Deductible Donations in 2006,Deductible Donations in 2005,Deductible Donations in 2004,Deductible Donations in 2003,Deductible Donations in 2002,Number of Donations in 2018,Number of Donations in 2017,Number of Donations in 2016,Number of Donations in 2015,Number of Donations in 2014,Number of Donations in 2013,Number of Donations in 2012,Number of Donations in 2011,Number of Donations in 2010,Number of Donations in 2009,Number of Donations in 2008,Number of Donations in 2007,Number of Donations in 2006,Number of Donations in 2005,Number of Donations in 2004,Number of Donations in 2003,Number of Donations in 2002,Number of Donations (All years),Total Donations (All years),Total Deductible Donations (All years),Average Donation,Max Donation,Min Donation,Last Donation Amount,First Donation Amount
count,4.949000e+03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.000000,0.0,1.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4949.00000,4949.000000,4949.000000,4949.000000,4949.000000,4949.000000,4949.000000,4949.000000,4949.0,4949.0,4949.0,4949.0,4949.0,4949.0,4949.0,4949.0,4949.0,4949.00000,4949.000000,4949.000000,4949.000000,4949.000000,4949.000000,4949.000000,4949.000000,4949.0,4949.0,4949.0,4949.0,4949.0,4949.0,4949.0,4949.0,4949.0,4949.000000,4949.000000,4949.000000,4949.000000,4949.000000,4949.000000,4949.000000,4949.000000,4949.0,4949.0,4949.0,4949.0,4949.0,4949.0,4949.0,4949.0,4949.0,3428.000000,4949.000000,4949.000000,4949.000000,4949.000000,4949.000000,3428.000000,3428.000000
mean,3.562671e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94747.000000,NaN,8.314435e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.87964,142.611843,105.003479,97.103898,110.642819,84.524225,103.943427,24.242877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.87964,142.611843,105.003479,97.103898,110.642819,84.524225,103.943427,24.242877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.289351,0.414225,0.407759,0.411194,0.424530,0.445140,0.410386,0.118206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.216453,735.952209,735.952209,115.563910,239.210057,70.651271,177.937990,154.963419
std,1.981026e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,270.504159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1779.86342,3464.401223,2323.490685,1585.911155,2176.496884,1177.276737,2369.524943,327.197976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1779.86342,3464.401223,2323.490685,1585.911155,2176.496884,1177.276737,2369.524943,327.197976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.598329,4.709741,4.882681,2.352359,2.866508,2.140968,3.432202,0.600769,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.537863,14156.964430,14156.964430,499.750308,1738.636466,346.296806,759.317902,622.308205
min,2.065437e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94539.000000,NaN,8.314435e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.086905e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94542.000000,NaN,8.314435e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,21.000000
50%,2.088149e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94568.000000,NaN,8.314435e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,26.000000,26.000000,21.000000,21.000000,21.000000,50.000000,41.000000
75%,5.083862e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95035.000000,NaN,8.314435e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.000000,150.000000,150.000000,63.000000,101.000000,51.000000,101.000000,101.000000
max,8.312047e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95051.000000,NaN,8.314435e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122481.62000,174340.750000,155532.190000,103370.940000,146621.660000,77027.500000,163055.230000,13281.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,122481.62000,174340.750000,155532.190000,103370.940000,146621.660000,77027.500000,163055.230000,13281.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,310.000000,308.000000,332.000000,131.000000,180.000000,126.000000,228.000000,33.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1648.000000,955710.890000,955710.890000,14206.000000,91000.000000,10000.000000,21111.000000,12551.000000

In [88]:
df['Full Name 2'] = df['Full Name 2'].str.replace(',', '')
df['Full Name']  = df['Full Name'].str.replace('.', '')
df['Full Name']  = df['Full Name'].str.replace('[0-9]', '')

#df['Full Name']
df['Full Name 2'] = df['Full Name 2'].str.replace(',', '')
df['Full Name 2'] 

df['Suffix 2'] = df['Suffix 2'].str.replace("\'", '')
df['Suffix 2']

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
5              NaN
6              NaN
7              NaN
8              NaN
9       TARANGBHAI
10      SUSHILABEN
11             NaN
12             NaN
13             NaN
14             NaN
15             NaN
16             NaN
17             NaN
18             NaN
19             NaN
20             NaN
21             NaN
22             NaN
23             NaN
24             NaN
25             NaN
26           PAYAL
27             NaN
28             NaN
29             NaN
           ...
4919           NaN
4920           NaN
4921           NaN
4922           NaN
4923           NaN
4924           NaN
4925           NaN
4926           NaN
4927           NaN
4928           NaN
4929           NaN
4930           NaN
4931           NaN
4932           NaN
4933           NaN
4934           NaN
4935           NaN
4936           NaN
4937           NaN
4938           NaN
4939           NaN
4940           NaN
4941           NaN
4942           NaN
4943           NaN
4944           NaN
4945           NaN
4946           NaN
4947           NaN
4948           NaN
Name: Suffix 2, Length: 4949, dtype: object

In [89]:
df['Recognition Name'] = df['Recognition Name'].str.replace(',', '')
df['Recognition Name']  = df['Recognition Name'].str.replace('.', '')
df['Recognition Name']  = df['Recognition Name'].str.replace('[0-9]', '')

#df['Recognition Name']

df['Suffix']  = df['Suffix'].str.replace('.', '')
#df['Suffix']

df['Street Address']  = df['Street Address'].str.replace(',', '')
#df['Street Address']

df['Notes']  = df['Notes'].str.replace(',', '')
df['Notes']

0                                                NaN
1                                                NaN
2
3                                       5105256668
4
5                                       4087397874
6
7
8
9                                       5106559095
10                                      5106565975
11                                      9253988688
12      timirashar@gmail.com  9254825699  9254825900
13
14
15
16
17
18                                      5106457725
19
20                  Bhuvadin@gmail.com  5106570632
21                                      4084819611
22
23
24                                      4088473987
25
26
27
28                                  (510) 579-2541
29                                      4089358033
                            ...
4919                                             NaN
4920                                             NaN
4921                                             NaN
4922                                             NaN
4923                                             NaN
4924                                             NaN
4925                                             NaN
4926                                             NaN
4927                                             NaN
4928                                             NaN
4929                                             NaN
4930                                             NaN
4931                                             NaN
4932                                             NaN
4933                                             NaN
4934                                             NaN
4935                                             NaN
4936                                             NaN
4937                                             NaN
4938                                             NaN
4939                                             NaN
4940                                             NaN
4941                                             NaN
4942                                             NaN
4943                                             NaN
4944                                             NaN
4945                                             NaN
4946                                             NaN
4947                                             NaN
4948                                             NaN
Name: Notes, Length: 4949, dtype: object

In [100]:
df['Itemized Donations in 2018']  = df['Itemized Donations in 2018'].str.replace(',', '')
df['Itemized Donations in 2018']  = df['Itemized Donations in 2018'].str.replace('$', '')
df['Itemized Donations in 2018']  = df['Itemized Donations in 2018'].str.replace(')', '')
df['Itemized Donations in 2018']  = df['Itemized Donations in 2018'].str.replace('(', '')
df['Itemized Donations in 2018']  = df['Itemized Donations in 2018'].str.replace('\n\r', '|')
#df['Itemized Donations in 2018']

df['Itemized Donations in 2017']  = df['Itemized Donations in 2017'].str.replace(',', '')
df['Itemized Donations in 2017']  = df['Itemized Donations in 2017'].str.replace('$', '')
df['Itemized Donations in 2017']  = df['Itemized Donations in 2017'].str.replace(')', '')
df['Itemized Donations in 2017']  = df['Itemized Donations in 2017'].str.replace('(', '')
df['Itemized Donations in 2017']  = df['Itemized Donations in 2017'].str.replace('\n\r', '|')


df['Itemized Donations in 2016']  = df['Itemized Donations in 2016'].str.replace(',', '')
df['Itemized Donations in 2016']  = df['Itemized Donations in 2016'].str.replace('$', '')
df['Itemized Donations in 2016']  = df['Itemized Donations in 2016'].str.replace(')', '')
df['Itemized Donations in 2016']  = df['Itemized Donations in 2016'].str.replace('(', '')
df['Itemized Donations in 2016']  = df['Itemized Donations in 2016'].str.replace('\n', '|')


df['Itemized Donations in 2015']  = df['Itemized Donations in 2015'].str.replace(',', '')
df['Itemized Donations in 2015']  = df['Itemized Donations in 2015'].str.replace('$', '')
df['Itemized Donations in 2015']  = df['Itemized Donations in 2015'].str.replace(')', '')
df['Itemized Donations in 2015']  = df['Itemized Donations in 2015'].str.replace('(', '')
df['Itemized Donations in 2015']  = df['Itemized Donations in 2015'].str.replace('\n', '|')

df['Itemized Donations in 2014']  = df['Itemized Donations in 2014'].str.replace(',', '')
df['Itemized Donations in 2014']  = df['Itemized Donations in 2014'].str.replace('$', '')
df['Itemized Donations in 2014']  = df['Itemized Donations in 2014'].str.replace(')', '')
df['Itemized Donations in 2014']  = df['Itemized Donations in 2014'].str.replace('(', '')
df['Itemized Donations in 2014']  = df['Itemized Donations in 2014'].str.replace('\n\r', '|')

df['Itemized Donations in 2013']  = df['Itemized Donations in 2013'].str.replace(',', '')
df['Itemized Donations in 2013']  = df['Itemized Donations in 2013'].str.replace('$', '')
df['Itemized Donations in 2013']  = df['Itemized Donations in 2013'].str.replace(')', '')
df['Itemized Donations in 2013']  = df['Itemized Donations in 2013'].str.replace('(', '')
df['Itemized Donations in 2013']  = df['Itemized Donations in 2013'].str.replace('\n\r', '|')

df['Itemized Donations in 2012']  = df['Itemized Donations in 2012'].str.replace(',', '')
df['Itemized Donations in 2012']  = df['Itemized Donations in 2012'].str.replace('$', '')
df['Itemized Donations in 2012']  = df['Itemized Donations in 2012'].str.replace(')', '')
df['Itemized Donations in 2012']  = df['Itemized Donations in 2012'].str.replace('(', '')
df['Itemized Donations in 2012']  = df['Itemized Donations in 2018'].str.replace('\n\r', '|')

df['Itemized Donations in 2012']

df['Itemized Donations in 2011']  = df['Itemized Donations in 2011'].str.replace(',', '')
df['Itemized Donations in 2011']  = df['Itemized Donations in 2011'].str.replace('$', '')
df['Itemized Donations in 2011']  = df['Itemized Donations in 2011'].str.replace(')', '')
df['Itemized Donations in 2011']  = df['Itemized Donations in 2011'].str.replace('(', '')

df['Itemized Donations in 2012']
#df.columns

# df = df.drop('Itemized Donations in 2005', 1)

# df =df.drop('Itemized Donations in 2004', 1)
# df =df.drop('Itemized Donations in 2003', 1)
# df =df.drop('Itemized Donations in 2002', 1)
# df =df.drop('Do Not Call 2', 1)
# df =df.drop('Extension 2', 1)
# df =df.drop('Extension', 1)
# df =df.drop('Do Not Email 3', 1)
# df =df.drop('Do Not Email 2', 1)
# df =df.drop('Email Type 3', 1)
# df =df.drop('Address Type 2', 1)
# df = df.drop('Email Address 3', 1)

0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
5                                                     NaN
6                                                     NaN
7                                                     NaN
8                                                     NaN
9                                                     NaN
10      25.00 for 06 Front Desk received on Feb 18 201...
11                                                    NaN
12                                                    NaN
13      751.00 for 06 Front Desk Dolotsav Mukhya Yajma...
14                                                    NaN
15                                                    NaN
16                                                    NaN
17                                                    NaN
18                                                    NaN
19                                                    NaN
20      101.00 for 06 Front Desk received on Mar 11 20...
21                                                    NaN
22       151.00 for 06 Front Desk received on Jun  3 2018
23                                                    NaN
24      30.00 for 06 Front Desk received on Mar  4 201...
25                                                    NaN
26                                                    NaN
27                                                    NaN
28                                                    NaN
29                                                    NaN
                              ...
4919    625.00 for 06 Front Desk received on Aug 30 20...
4920     101.00 for 06 Front Desk received on Sep  1 2018
4921      21.00 for 00 Janmastami received on Sep  2 2018
4922     101.00 for 00 Janmastami received on Sep  2 2018
4923      11.00 for 00 Janmastami received on Sep  2 2018
4924      20.00 for 00 Janmastami received on Sep  2 2018
4925      11.00 for 06 Front Desk received on Sep  3 2018
4926      10.00 for 06 Front Desk received on Sep  3 2018
4927      25.00 for 06 Front Desk received on Sep  8 2018
4928    501.00 for 06 Front Desk received on Sep  9 20...
4929     101.00 for 06 Front Desk received on Sep  9 2018
4930                                                  NaN
4931      25.00 for 06 Front Desk received on Sep 15 2018
4932    500.00 for 06 Front Desk VYO - SHRI VRAJRAJKUM...
4933      21.00 for 06 Front Desk received on Sep 16 2018
4934    100.00 for 06 Front Desk received on Sep 20 20...
4935      51.00 for 06 Front Desk received on Sep 20 2018
4936    1060.00 for 06 Front Desk Sep 15 received on S...
4937      61.00 for 06 Front Desk received on Sep 22 2018
4938      21.00 for 06 Front Desk received on Sep 23 2018
4939    400.00 for 06 Front Desk Thor -Samagri Bher re...
4940    201.00 for 06 Front Desk received on Sep 30 20...
4941    51.00 for 06 Front Desk Maniben Patel  receive...
4942      20.00 for 06 Front Desk received on Oct  4 2018
4943      51.00 for 06 Front Desk received on Oct  7 2018
4944    825.00 for 06 Front Desk SEP 22 received on Oc...
4945      40.00 for 06 Front Desk received on Oct 10 2018
4946      10.00 for 06 Front Desk received on Oct 13 2018
4947     101.00 for 06 Front Desk received on Oct 14 2018
4948     105.00 for 06 Front Desk received on Oct 14 2018
Name: Itemized Donations in 2012, Length: 4949, dtype: object

In [102]:
df.to_csv('/Users/bhupesh.patel/Documents/clean_scs1.csv',  encoding='utf-8')